@charset "UTF-8";

:root {
    --conteudo-do-site:  'Mulish', sans-serif;
    --titulos-do-site: 'Exo 2', sans-serif;
    --cabeçalho-cor: #0d3173a8;
    --botoes-e-outros: #7C90B3;
    --footer-e-outros: #000000;
}

* {
    margin: 0px;
    padding: 0px;
}

/*Mobile first*/
body, html {
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    color: white;
}

body {
    display: flex;
    align-items: center;
}

h1 {
    text-align: center;
    color: white;
}

main {
    width: 75%;
    margin: auto;
    height: auto;
    background-color: var(--cabeçalho-cor);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.342);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

input {
    margin: 5px;
    width: 80%;
    padding: 5px;
}

label {
    padding-left: 5px;
}

input.botao {
    color: white;
    border-style: none;
    background-color: var(--botoes-e-outros);
}