@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --conteudo-do-site:  'Mulish', sans-serif;
    --titulos-do-site: 'Exo 2', sans-serif;
    --cabeçalho-cor: #0D3973;
    --botoes-e-outros: #7C90B3;
    --footer-e-outros: #000000;
}
/*
#7A98BF
#049DBF
#0D0D0D
*/
/*Estilos do index*/

* {
    margin: 0px;
    padding: 0px;
}
/*Estilos dos ancestrais primordiais*/
body, html {
    font-family: var(--conteudo-do-site);
}

/*Cabeçalho*/
header {
    background-color: var(--cabeçalho-cor);
    
  
    
}

header h1 {
    display: none;
}

#logo-pq {
    width: 150px;
    margin-top: 20px;
}

#icone-menu {
    color: white;
    
}

#container-icone {
    text-align: right;
    padding-right: 5px;
}
menu {
    padding-top: 10px;
    display: none;
}

menu ul li {
    list-style-type: none;
    border: 1px solid white;
    display: block;
    text-align: center;

}

ul li a {
    color: white;
    text-decoration: none;
}
/*Hero*/
#hero {
    height: 75vh;
    background-image: url(../image/hero-portrait.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 50px;
}

#hero h1 {
    padding-top: 20px;
    text-align: center;
    font-weight: 300;
    font-size: 2.3em;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.397);
    font-family: var(--titulos-do-site);
   
}

#links {
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.btn {
   display: none;
}

/*footer*/
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: var(--footer-e-outros);
}

footer p {
    margin: 7px 0px;
}

footer p a {
    text-decoration: none;
    color: white;
}

footer p a:hover {
    text-decoration: underline;
}

footer h1 {
    margin-bottom: 20px;
}

footer:last-child {
    font-weight: bolder;
}

/*Versão desktop*/
@media (min-width: 1024px) {
    body {
        background-color:;
    }
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 10px;
    }

    header img {
        cursor: pointer;
    }

    header h1 {
        display: block;
        color: #fff;
        font-weight: 500;
    }

    #hero {
        background-image: url(../image/hero-landscape.jpg);
    }

    div#links {
        justify-content: center;
    }

    div#links a {
        opacity: .9;
        font-size: .8em;
        border-radius: 6px;
    }

    div#links a:hover {
        opacity: 1;
    }
}

/*Versão desktop*/
@media (min-width: 768px) {
    body {
        background-color:;
    }
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 10px;
    }

    header img {
        cursor: pointer;
    }

    header h1 {
        display: block;
        color: #fff;
        font-weight: 500;
    }

    #hero {
        background-image: url(../image/hero-landscape.jpg);
    }



    div#links a {
        opacity: .7;
    }

    div#links a:hover {
        opacity: 1;
    }
}



